/* purgecss start ignore */
@tailwind base;

html {
  font-feature-settings: "kern";
}

@tailwind components;
/* purgecss end ignore */

.text-palt {
  font-feature-settings: "palt" 1;
}

/* * {
  outline: 1px solid red;
} */

@tailwind utilities;
