@tailwind base;

html {
  font-feature-settings: "kern";
}

@tailwind components;

.text-palt {
  font-feature-settings: "palt" 1;
}

@tailwind utilities;

.link-overlay {
  @apply relative;

  & .link-overlay-link::before {
    content: "";
    cursor: inherit;
    @apply block absolute inset-0 z-0;
  }
}
